bot:
  token: PUT_DISCORD_BOT_TOKEN_HERE

database:
  database: media_mgmt
  host: XXXXXXXX
  password: XXXXXXXX
  port: 3306
  user: lsql_harassarr

PLEX-XXXXXXXX:
  serverName: XXXXXXXX
  baseUrl: https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:32400
  token: XXXXXXXX
  standardLibraries:
  - Movies
  - TV Shows
  optionalLibraries:
  - Movies 4k

PLEX-XXXXXXXX:
  serverName: XXXXXXXX
  baseUrl: https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:32400
  token: XXXXXXXX
  standardLibraries:
  - Movies
  - TV Shows
  optionalLibraries: []