primaryDiscord,secondaryDiscord,primaryEmail,secondaryEmail,notifyDiscord,notifyEmail,status,server,4K,paidAmount,paymentMethod,paymentPerson,startDate,endDate,joinDate
JohnDoe,,johndoe@gmail.com,,Primary,Primary,Active,ServerA,Yes,348.92,PayPal,John Doe,1/1/2020,1/1/2021,1/1/2020
JaneDoe,,JaneDoe@gmail.com,johndoe@gmail.com,Primary,Both,Active,ServerB,No,39.28,CashApp,Jane Doe,1/1/2020,1/1/2021,1/1/2020
JohnPlex,,johnPLEX@gmail.com,,Primary,Primary,Inactive,ServerC,Yes,22.22,Venmo,John Plex,1/1/2020,1/1/2021,1/1/2020
JanePlex,JohnPlex,janePLEX@gmail.com,,Secondary,Primary,Inactive,ServerD,No,98.87,PayPal,Jane Plex,1/1/2020,1/1/2021,1/1/2020